.dropdownMain {
    margin-left:24px;
    margin-right: 24px;
    position:relative;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 18.4px;
}

.dropdownBtn {
    
}

.dropdownMain:hover .dropdownContentContainer {
    display: block;
    cursor: pointer;
}

.dropdownContentContainer {
    display:none;
}

.dropdownContent {
    display:flex;
    flex-direction: column;
    position:absolute;
    z-index: 9999;
    width:100%;
    border-radius:4px;
}

.dropdownLink:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdownLink:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdownLink {
    display:block;
    padding: 8px 12px;
    width: 205px;
    text-decoration: none;
    background-color: #bdbdbd;
    transition: background-color 0.4s;
    color: #212121;
}

.dropdownLink:hover {
    background-color: #9e9e9e;
}

.navigationContainer {
    display: flex;
    flex-direction: row;
}